<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.org_dupe_finder</id>
	<name>Organization Dupe Finder</name>
	<description>Finds duplicate organizations in your address book by analyzing subtle variations and misspellings.</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.2</version>
	<link>http://www.cerb5.com/</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="5.6.1" max="5.8.99" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.6.1" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>
	
		<!-- Address Book Tabs -->
		
		<extension point="cerberusweb.contacts.tab">
			<id>wgm.orgdupefinder.tab</id>
			<name>Org Dupe Finder Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmOrgDupeFinder_ContactsTab</name>
			</class>
			<params>
				<param key="uri" value="org_dupes" />
    			<param key="title" value="Find Dupes" />
			</params>
		</extension>
	
    </extensions> 
</plugin>
