<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.org_dupe_finder</id>
	<name>Organization Dupe Finder</name>
	<description>Finds duplicate organizations in your address book by analyzing subtle variations and misspellings.</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.5</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.org_dupe_finder</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="6.2" max="6.2.99" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.1.0" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>
	
		<!-- Workspace Tab -->
		
		<extension point="cerberusweb.ui.workspace.tab">
			<id>wgm.orgdupefinder.tab</id>
			<name>Org Dupe Finder Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WorkspaceTab_WgmOrgDupeFinder</name>
			</class>
			<params>
				<param key="label" value="wgm.orgdupefinder.tab.label" />
			</params>
		</extension>		
	
    </extensions> 
</plugin>
